.Apartment {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  background: white;
}

.Apartment img {
  width: 100%;
}

.Apartment label {
  font-weight: bold;
  font-size: 28px;
  display: block;
  margin-top: -66px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  position: relative;
}

.Apartment p {
  margin: 0;
  padding: 15px;
  font-size: 18px;
  text-align: left;
  color: #2a96db;
  border-bottom: 1px solid #e7e7e7;
}

.Apartment ul {
  list-style: none;
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 100;
}

.Apartment ul li {
  color: #555;
}

/* Responsive Screens */
@media (min-width: 450px) {
  .Apartment {
    width: 300px;
    margin: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
